.triviamaincontainer{
    display:inline;
    text-align:center;
    padding-bottom:10px;
}

.triviacontent{
    display: inline-block;
    width:30%;
    text-align:center;
    margin:30px;

}

.imageTrivia{
    width:100%;
    display:inline-block;
    border:solid 1px black;
    text-align:center;



}

.nameTrivia{
    display:block;
}

.kategoriTrivia{
    display:block;
}

.hargaTrivia{
    display:block;
}

.triviadetailcontainer{

    border: solid 1px black;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    padding:10px;

}

.triviadetaildisplaylink{




}

.previousbuttoncontainertrivia{

    position:absolute;
    left:5%;
    top:40%;
    display:inline-block;
    width:100px;
    height:500px;
    top:100px;

    cursor:pointer;
}

.previousbuttoncontainertrivia:hover{
    transform:scale(1.05);
    transition-duration:0.5s;
    background: rgb(87,128,247);
    background: radial-gradient(circle, rgba(87,128,247,1) 1%, rgba(0,212,255,1) 23%, rgba(255,255,255,1) 81%);
    opacity:0.9;

}

.nextbuttoncontainerevent{
    position:absolute;
    right:5%;
    top:40%;
    display:inline-block;
    width:100px;
    height:500px;
    top:100px;

    cursor:pointer;

}

.nextbuttoncontainerevent:hover{
    transform:scale(1.05);
    transition-duration:0.5s;
    background: rgb(87,128,247);
    background: radial-gradient(circle, rgba(87,128,247,1) 1%, rgba(0,212,255,1) 23%, rgba(255,255,255,1) 81%);
    opacity:0.9;

}

.triviapreviousbutton{
    position:absolute;
    top:30%;
    left:0;





}

.trivianextbutton{
    position:absolute;
    top:30%;
    right:0;




}

.triviadetaildisplaycontainer{
    display:inline-block;
    width:100%;
    text-align:center;


}

.triviadisplayimage:hover{
    animation-name:glimmering2;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}






@keyframes glimmering2{
    0%{
        position:relative;
        top:-25px;
        right:-25px;
    }
    15%{
        position:relative;
        top: -0px;
        right:-25px;
    }
    30%{
        position:relative;
        top:-25px;
        right:-25px;

    }
    45%{
        position:relative;
        top:-0px;
        right:-25px;
    }
    60%{
        position:relative;
        top:-25px;
        right:-25px;

    }
    75%{
        position:relative;
        top:-0px;
        right:-25px;
    }
    100%{
        position:relative;
        top:-25px;
        right:-25px;
    }
  


}