.ActionDetailDisplayContainer{



    text-align:center;
    position:relative;




}

.ActionDetailDisplayName{
    display:inline-block;
    width:100%;




}

.ActionDetailDisplayImage{
    display:inline-block;
    width:30%;



}

.ActionDetailDisplayEffect{

    text-align:center;
    border:solid 1px black;
    display:inline-block;
    width:70%;
    height:40%;
    overflow: scroll;
    border-radius:20px;

}

.ActionDetailDisplayEffect:hover{
    font-size: 17px;
    /* animation-name: effective; */
    transition: 2s;

}



.ActionDetailDisplayImageContainer{
    display:inline-block;
    text-align:center;
    width:80%;
}

.ActionDetailContainer{
    position:relative;      



}

.PreviousButtonContainer{
    position:absolute;
    left:5%;
    top:40%;


}



.NextButtonContainer{
    position:absolute;
    right:5%;
    top:40%;


}

.buttoncontainer{

    display:block;
}

@keyframes effective{
    0%{
        font-size: 20px;
    }
    30%{
        font-size:50px;
    }
    60%{
        font-size:70px;
    }
    100%{
        font-size:100px;
    }
}
