.charactercontainer{
    display:inline;
    text-align:center;
}

.characterindividual{
    display: inline-block;
    width:30%;
    text-align:center;
    margin:10px;
    border:1px solid black;
}

.imagecharacter{
    width:100%;
    display:inline-block;
    border:solid 1px black;
    text-align:center;
}