.GetReviewDisplayContainer{
    display:inline;
    text-align:center;
    align-items: center;


}

.ReviewSingle{
    margin:25px;

    display:inline-block;
    text-align: center;
    border:solid 1px black;
    border-radius: 20px;
    width:30%;


}

.reviewtestimonial{

    height:100px;
    overflow:scroll;
    border-radius: 20px;    
}