.LogoContainer{

    display:inline;



}

.LogoImage{
    width:200px;
    display:inline-block;

}

.LogoImage:hover{
    animation-name: yrotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes yrotate{
    0% {transform: rotateY(0deg);}
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(180deg);}
    75% {transform: rotateY(90deg);}
    100% {transform: rotateY(0deg);}
}