.actioncontent{
    text-align:center;
    border: black solid 2px;
    width:30%;
    display:inline-block;
    height:400px;

}

.imageAction{
    width:50%;
    display:inline-block;
}

.rowi{

    border: 1px solid black;
    display:inline;

}