.eventdisplaybigcontainer2{
    display:inline;

}

.eventdisplayname2{
    text-align:center;

}

.eventdisplayimagecontainer2{
    text-align:center;

}

.eventdisplayimage2{
    text-align:center;

    width:50%;
    /* display:inline-block; */
}

.effecttypedisplaycontainer2{
    margin:5px;



}

.eventdisplayeffect2{
    display:inline-block;
    margin-right:10px;
    width:90%;   
    border:1px solid black;
    border-radius:20px;


}

.eventtype2{
    display:inline-block;
    margin-left:10px;

    width:20%;

}


.buttoncontainer2{
    text-align:center;

}