.footercontainer{
  background-color:#2596be;
  margin-top:15px;

}

.rowa{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.footercontent{

    display: inline-block;
    width:15%;
    margin-top:20px;
    margin-bottom:20px;
    padding:5px;
    color:white;

    color: aliceblue;


    text-align:center;
}

#cardtypefootercontainer{
  position:relative;

}

#cardtypetext{
  
  position:relative;
  text-align:center;


}

#cardtypefooter{

  z-index:2;
  border:solid 1px black;
  border-radius:20px;
  background:white;
  position:absolute;
  z-index:2;


  left:5%;

  width:30%;

}






.subscribercontainer{
    background-color:#2596be;
    display:block;
    position:relative;
  

  
    padding:30px;
  }

  .subscriberbetween{
    position:relative;
    display:block;

    background-color:#2596be;


  }

  .subscribes{
    /* position:relative;
    right:0; */
    font-size: small;
    /* text-align:center; */
    display: flex; 
    text-align:right;
    justify-content: flex-end;


  }

  .form-group{
    display:inline-block;
  
  }
  
  .form-control{
    font-size: small;
  }

  .none{
    display:none;
  }
  
  