.HeaderContainer{

    display:flex;
    position:relative;

    border:solid 1px black;
}

.HeaderLeft{

    /* left:5%; */
    border:solid 1px black;
    display:inline;
    position:relative;

}

.HeaderContent{

    display:inline-block;

    margin-right:20px;
    margin-left:20px;
    border:solid 1px black;
}


.HeaderContent2{


    display:inline-block;
    border:solid 1px black;
    margin-right:20px;
    margin-left:20px;
}

.HeaderRight{



    
    border:solid 1px black;
    display:inline;
    position:absolute;
    right:0px;
}



#carddropdown{
    position:relative;

}

#cardhidden{
    position:absolute;
    background:white;


    border:solid 1px black;
    z-index:2;
}

.none{
    display:none;
}