.HeaderContainer{

    display:inline;
}

.HeaderContent{

    display:inline-block;
    width:50px;
    margin-right:20px;
    margin-left:20px;
}

.headerRight{

    padding:20px;
}

.HeaderContent2{

    padding:20px;
}



.none{
    display:none;
}