.brouter{
    position:relative;
}

.theHeader{
    position:sticky;

}

.theRoute{

    padding:10px;
    border:solid 1px black;
    margin:10px;
}

@media only screen and (max-width: 900px) {
    .theHeader{
        display:none;
    }

    Header{
        display:none;
    }

  }