.moneycontainer{
    display:inline;
    border: 1px black solid;
    text-align:center;

}

.moneyindividual{
    display:inline-block;
    width:30%;
    border: 1px black solid;
    text-align:center;



}

.moneyname{
    display:block;
    border: 1px black solid;
    text-align:center;




}

.imagemoney{
    display: inline-block;
    width:100%;
    text-align:center;


}


