.categorycontent{
    display:inline-block;
    width:17%;
    margin:5px;
    border: 1px solid black;
}

.categorycontainer{
    display:inline;
    border: 1px solid orange;
    margin:10px;



}

.categoryimage{

    display:inline;
    border: 1px solid pink;
    width:100%;


    
}

.categoryname{
    display:inline;
    width:50%;
    border:1px solid blue;
}

/* #categorymastercontainer{
    display:inline-block;
    width:100%;
    margin:10px;
    border:1px solid blue;
} */