/* .dreamDisplayContainer{
    display: block;
    border: 1px solid black;
} */

.dreamContentContainer{

    display:inline;
    text-align:center;
}

#dreambannertitle{
    color:white;
    align-items: center;
    vertical-align: middle;
}

#dreambannercontainer{

    text-align:center;
    padding:10px;
    margin-bottom:10px;
    background-color:orange;
    border-radius:20px;
    background-image:url('https://i.ibb.co/tLtGs8d/dream-orange.webp');
    display:inline-block;
    height:500px;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.8;
    align-items: center;
    vertical-align: middle;
}


#dreambanner{
    text-align:center;
}

#dreambanner:hover{
    transform:scale(1.05);
    animation-duration: 1s infinite;
}

.dreamindividual{
    display:inline-block;
    width:30%;
    margin:10px;
    border:1px solid black;
    text-align:center;
    /* padding:15px; */
    box-sizing:border-box;

}

#dreamfiltercontainer{
    border:1px solid black;
    padding:20px;
    border-radius:20px;
    margin-bottom:10px;
    text-align:center;
    background-color:orange;
}

.dreamfilterselect{
    margin:10px;
    border-radius:10px;

}

.imageContainer{
    display: block;
}

.dreamImage{
    width:100%;
    display:inline-block;
    border:solid 1px black;
    text-align:center;
}

.dreamName{
    display:block;

}

.dreamCharacter{
    display:block;
}