/* .dreamDisplayContainer{
    display: block;
    border: 1px solid black;
} */

.dreamContentContainer{
    display:inline-block;
    width:30%;
    margin:10px;
    border:1px solid black;
    text-align:center;
    padding:15px;
    box-sizing:border-box;

}

.imageContainer{
    display: block;
}

.dreamImage{
    display:inline-block;
    width:80%;
    border:1px solid black;
}

.dreamName{
    display:block;

}

.dreamCharacter{
    display:block;
}