/* .dreamDisplayContainer{
    display: block;
    border: 1px solid black;
} */

.dreamContentContainer{

    display:inline;
    text-align:center;
}

.dreamindividual{
    display:inline-block;
    width:30%;
    margin:10px;
    border:1px solid black;
    text-align:center;
    /* padding:15px; */
    box-sizing:border-box;

}

#dreamfiltercontainer{
    border:1px solid black;
    padding:20px;
    border-radius:20px;
    margin-bottom:10px;
    text-align:center;
    background-color:orange;
}

.dreamfilterselect{
    margin:10px;
    border-radius:10px;

}

.imageContainer{
    display: block;
}

.dreamImage{
    width:100%;
    display:inline-block;
    border:solid 1px black;
    text-align:center;
}

.dreamName{
    display:block;

}

.dreamCharacter{
    display:block;
}