.GetReviewDisplayContainer{
    display:inline;
    text-align:center;
    align-items: center;


}

.ReviewSingle{
    margin:5px;

    display:inline-block;
    text-align: center;
    border:solid 1px black;
    width:30%;


}

.reviewtestimonial{

    height:100px;
    overflow:scroll;
}