.triviamaincontainer{
    display:inline;
    text-align:center;
    padding-bottom:10px;
}

.triviacontent{
    display: inline-block;
    width:30%;
    text-align:center;
    margin:30px;

}

#triviafiltercontainer{
    text-align:center;
    background-color:lightblue;
    padding:15px;
}

.triviafiltercontent{
    margin:10px;
    padding:5px;
}

.imageTrivia{
    width:100%;
    display:inline-block;
    border:solid 1px black;
    text-align:center;



}

#triviafiltercontainer{
    text-align:center;
    background-color:lightblue;
    padding:15px;
}

.triviafiltercontent{
    margin:10px;
    padding:5px;
}

.nameTrivia{
    display:block;
}

.kategoriTrivia{
    display:block;
}

.hargaTrivia{
    display:block;
}

#triviabannercontainer{
    text-align:center;
    background-color:lightblue;
    padding:15px;
    background-image:url('https://i.ibb.co/2K9f3XM/banner.jpg');

    background-repeat: no-repeat;
    background-size:cover;
    opacity:0.8;
    border-radius:20px;
    
}

#triviabannercontent{
    border-radius:20px;
    display:inline-block;
    height:500px;
    width:100%;

}


