.rowi{
    display:inline;
    text-align:center;
}

#eventbgbanner{
    background-color: #9256a3;
    text-align:center;
    background-image:url('https://i.ibb.co/1nF5Rdn/eventbanner.webp');
    background-size: cover;
    background-repeat:no-repeat;
    border-radius:20px;
}

#eventbannertitle{
    color:white;
}

#eventbannercontent{
    display:inline-block;
    width:100%;
    height:500px;
    padding:100px;
    vertical-align: middle;
    opacity:0.8;
    border-radius:20px;
}




.eventcontainer{
    text-align:center;
    width:30%;
    display:inline-block;
    margin:30px;
    border:1px solid black;
    /* font-size: 10px; */
}

.eventname{
    font-family: arial;
    text-align:center;

}

.eventimage{
    width:100%;
    display:inline-block;
    border:solid 1px black;
}

.promotioncontainer{
    border:1px solid pink;
    background-color: pink;
    height:150px;
}

#eventfiltercontainer{
    padding:15px;
    border-radius:20px;
    background-color: #9256a3;
    text-align:center;
}

.eventfiltercontent{

    margin:15px;
}


.twobuttons{


}

.previousbutton{
    margin-left:0px;
    text-align:center;
    position: absolute;
    top:50%;
    left:10px;
}


.nextbutton{
    margin-right:0px;
    text-align:center;
    position: absolute;
    top:50%;
    right:10px;

}