.rowi{
    display:inline;
    text-align:center;
}


.eventcontainer{
    text-align:center;
    width:30%;
    display:inline-block;
    height:300px;
    margin:30px;
    border:1px solid black;
    font-size: 10px;
}

.eventname{
    font-family: arial;
    text-align:center;
    border: black 1px solid;
}

.eventimage{
    width:70%;
    display:inline-block;
    border:solid 1px black;
}

.promotioncontainer{
    border:1px solid pink;
    background-color: pink;
    height:150px;
}

.eventdetailcontainer{
    text-align:center;


    align-items: center;
    padding-bottom:10%;
    padding-top:10%;

    border:solid 1px black;
    vertical-align: middle;
    /* z-index: -1; */



}


.eventdetaildisplay{
    display:inline-block;
    width:65%;

    position:relative;





}

.twobuttons{


}

.previousbutton{
    /* display:inline-block; */
    /* width:50%; */
    margin-left:0px;
    text-align:center;
    position: absolute;
    top:50%;
    left:10px;






}


.nextbutton{

    /* display:inline-block; */
    /* width:50%; */
    margin-right:0px;
    text-align:center;

    position: absolute;
    top:50%;
    right:10px;








}